# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
ENV/
env/

# OS files
.DS_Store
Thumbs.db

# Private tokens/configs
.pypirc
.env

# Toolbox specific
*.bak
.toolbox_undo.json
.toolbox_manifest_*.json
